<app-navbar></app-navbar>
<div *ngIf="githubUser$ | async as githubUser">
    <div *ngIf="githubRepos$ | async as githubRepos">
        <div class = "landing-page">
            <app-landing-page nom={{githubUser.name}} bio={{githubUser.bio}}></app-landing-page>
        </div>

        <div class="projects-container">
            <app-display-project *ngFor="let repos of githubRepos" title={{repos.name}}
                description="description"></app-display-project>
        </div>
    </div>
</div>